@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">This website serves as a frontend to view data regarding analytics about health inspections and other helpful information regarding to social media with complaints against restaurants.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Health Inspections</h2>
        <p>
            This page will display information about what restaurants should be inspected next based on data analytics ran by python program.
        </p>
    </div>
    <div class="col-md-4">
        <h2>SocialMediaComplaints</h2>
        <p>This tab will show tweets within a given timeframe the are complaints about restaurants.</p>
    </div>
</div>